<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital.fishery.mapper.FarmInspectionMapper">
  <resultMap id="BaseResultMap" type="com.digital.fishery.model.FarmInspection">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="inspection_time" jdbcType="TIMESTAMP" property="inspectionTime" />
    <result column="block_id" jdbcType="BIGINT" property="blockId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="admin_id" jdbcType="BIGINT" property="adminId" />
    <result column="block_name" jdbcType="VARCHAR" property="blockName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.digital.fishery.model.FarmInspection">
    <result column="images" jdbcType="LONGVARCHAR" property="images" />
    <result column="product_data" jdbcType="LONGVARCHAR" property="productData" />
    <result column="environment_data" jdbcType="LONGVARCHAR" property="environmentData" />
    <result column="character_description" jdbcType="LONGVARCHAR" property="characterDescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    a.id, a.create_time, a.inspection_time, a.block_id, a.create_user, a.admin_id, b.name as block_name
  </sql>
  <sql id="Blob_Column_List">
    a.images, a.product_data, a.environment_data, a.character_description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.digital.fishery.model.FarmInspectionExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from farm_inspection a
    left join info_block b on b.id = a.block_id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.digital.fishery.model.FarmInspectionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from farm_inspection a
    left join info_block b on b.id = a.block_id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from farm_inspection a
    left join info_block b on b.id = a.block_id
    where a.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from farm_inspection
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.digital.fishery.model.FarmInspectionExample">
    delete from farm_inspection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.digital.fishery.model.FarmInspection">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into farm_inspection (create_time, inspection_time, block_id, 
      create_user, admin_id, images, 
      product_data, environment_data, character_description
      )
    values (#{createTime,jdbcType=TIMESTAMP}, #{inspectionTime,jdbcType=TIMESTAMP}, #{blockId,jdbcType=BIGINT}, 
      #{createUser,jdbcType=VARCHAR}, #{adminId,jdbcType=BIGINT}, #{images,jdbcType=LONGVARCHAR}, 
      #{productData,jdbcType=LONGVARCHAR}, #{environmentData,jdbcType=LONGVARCHAR}, #{characterDescription,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.digital.fishery.model.FarmInspection">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into farm_inspection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="inspectionTime != null">
        inspection_time,
      </if>
      <if test="blockId != null">
        block_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="images != null">
        images,
      </if>
      <if test="productData != null">
        product_data,
      </if>
      <if test="environmentData != null">
        environment_data,
      </if>
      <if test="characterDescription != null">
        character_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectionTime != null">
        #{inspectionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blockId != null">
        #{blockId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="images != null">
        #{images,jdbcType=LONGVARCHAR},
      </if>
      <if test="productData != null">
        #{productData,jdbcType=LONGVARCHAR},
      </if>
      <if test="environmentData != null">
        #{environmentData,jdbcType=LONGVARCHAR},
      </if>
      <if test="characterDescription != null">
        #{characterDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.digital.fishery.model.FarmInspectionExample" resultType="java.lang.Long">
    select count(*) from farm_inspection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update farm_inspection
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.inspectionTime != null">
        inspection_time = #{record.inspectionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.blockId != null">
        block_id = #{record.blockId,jdbcType=BIGINT},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=BIGINT},
      </if>
      <if test="record.images != null">
        images = #{record.images,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.productData != null">
        product_data = #{record.productData,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.environmentData != null">
        environment_data = #{record.environmentData,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.characterDescription != null">
        character_description = #{record.characterDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update farm_inspection
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      inspection_time = #{record.inspectionTime,jdbcType=TIMESTAMP},
      block_id = #{record.blockId,jdbcType=BIGINT},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      admin_id = #{record.adminId,jdbcType=BIGINT},
      images = #{record.images,jdbcType=LONGVARCHAR},
      product_data = #{record.productData,jdbcType=LONGVARCHAR},
      environment_data = #{record.environmentData,jdbcType=LONGVARCHAR},
      character_description = #{record.characterDescription,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update farm_inspection
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      inspection_time = #{record.inspectionTime,jdbcType=TIMESTAMP},
      block_id = #{record.blockId,jdbcType=BIGINT},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      admin_id = #{record.adminId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.digital.fishery.model.FarmInspection">
    update farm_inspection
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectionTime != null">
        inspection_time = #{inspectionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blockId != null">
        block_id = #{blockId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
      <if test="images != null">
        images = #{images,jdbcType=LONGVARCHAR},
      </if>
      <if test="productData != null">
        product_data = #{productData,jdbcType=LONGVARCHAR},
      </if>
      <if test="environmentData != null">
        environment_data = #{environmentData,jdbcType=LONGVARCHAR},
      </if>
      <if test="characterDescription != null">
        character_description = #{characterDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.digital.fishery.model.FarmInspection">
    update farm_inspection
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      inspection_time = #{inspectionTime,jdbcType=TIMESTAMP},
      block_id = #{blockId,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=BIGINT},
      images = #{images,jdbcType=LONGVARCHAR},
      product_data = #{productData,jdbcType=LONGVARCHAR},
      environment_data = #{environmentData,jdbcType=LONGVARCHAR},
      character_description = #{characterDescription,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.digital.fishery.model.FarmInspection">
    update farm_inspection
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      inspection_time = #{inspectionTime,jdbcType=TIMESTAMP},
      block_id = #{blockId,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>